@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
body {
    /* background-image: linear-gradient(to right,rgba(240, 151, 35, 0.767),white,rgba(23, 245, 79, 0.884)); */
    margin: 0;
    padding: 0;
    font-family: 'open Sans' , 'sans-serif';
    /* background-size: cover; */
    /* box-sizing: border-box; */
    background-color:  rgba(187, 197, 187, 0.527);
}

#btn {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
}
#btn:hover{
    animation: animate 8s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
#btn:before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    border-radius: 40px;
    opacity: 0;
    transition: 0.8s;
}
#btn:hover::before{
    filter: blur(40px);
    opacity: 1;
}

#MyImg{
    margin-top: 2%;
    text-align: center;
}

.text1{
    display: inline;
    position: relative;
    border-radius: 5px;
    color: #000;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 6px;
    animation: text2 3s 1;
}
@keyframes text2{
    0%{
        color:gray;
        letter-spacing: 6px;
        margin-bottom: -40px;
    }
    50%{
        color:rgb(44, 39, 39);
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
    100%{
        color:gray;
        letter-spacing: 6px;
        margin-bottom: -40px;
    }
}
.text2{
    margin-top: -30px;
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    background: linear-gradient(to bottom,purple,rgb(78, 219, 238));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1{
    margin: 0 auto;
    flex: 1;
    font-family: 'Aclonica', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: black;
    line-height: 2rem;
    overflow: hidden; 
    border-right: 2px solid black;
    animation: type 7s steps(48) infinite;
    white-space: nowrap;
}

.holding {
    padding-top: 60px;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.internal{
    margin: auto 0;
    justify-content: center;
    flex: 1;
    text-align: center;
    font-size: 12px;
}
@keyframes type{
    0%{
        width: 0%;
    } 
    50%{
        
        width: 49ch;
    }
    100%{
        width: 0%;
    }
}

.main{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    box-sizing: border-box;
}

.abc{
    flex: 1;
}

@media screen and (max-width: 768px){
    h1{
        word-break: keep-all;
        white-space: normal;
        padding-top: 5%;
        animation: none;
        border: none;
    }
    @keyframes type{
        0%{
            width: 0%;
        } 
        50%{
            
            width: 80%;
        }
        100%{
            width: 0%;
        }
    }
    .main{
        flex-direction: column;
        align-items: center;
        
    }
}
.imge{
    height: 360px;
}
