@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-image: linear-gradient(to right,rgba(240, 151, 35, 0.767),white,rgba(23, 245, 79, 0.884));
    margin: 0;
    padding: 0;
    font-family: 'open Sans' , 'sans-serif';
    background-size: cover;
}

#btn {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
}
#btn:hover{
    animation: animate 8s linear infinite;
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
#btn:before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    border-radius: 40px;
    opacity: 0;
    transition: 0.8s;
}
#btn:hover::before{
    filter: blur(40px);
    opacity: 1;
}

#MyImg{
    margin-top: 5%;
    text-align: center;
}

.text1{
    display: inline;
    position: relative;
    border-radius: 5px;
    color: #000;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 7px;
    /* margin-bottom: -40px; */
    animation: text2 3s 1;
}
@keyframes text2{
    0%{
        color:gray;
        letter-spacing: 5px;
        margin-bottom: -40px;
    }
    50%{
        color:rgb(44, 39, 39);
        letter-spacing: 15px;
        margin-bottom: -40px;
    }
    100%{
        color:gray;
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
.text2{
    display: block;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    font-weight: 700;
    color: rgb(139, 243, 20);
}
h1{
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
    color: transparent;
}
h1:before{
    content: attr(data-text);
    position: absolute;
    color: black;
    overflow: hidden;
    border-right: 2px solid #fff;
    animation: type 9s steps(20) infinite;
    white-space: nowrap;
}
@keyframes type{
    0%{
        width: 0;
    }
    50%{
        width: 305.5px;
    }
    100%{
        width: 0;
    }
}
